input {
    background-color: red;
    width: 80%;
    height: 1rem;
}
iframe {
    position: center;
    width: 1400px;
    margin: 5rem;
    height: 1100px;
    overflow:hidden;
    border: 1px solid black;
}
canvas {
    margin-top: 100px;
    border: 1px solid gray;
}
div.slicer {
    margin-top: 2px;
    margin-left: 81%;
}